# BEGIN DirectIn

<IfModule mod_rewrite.c>

RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^webhook/(.*)$ /webhook/index.php [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php?q=$1&%{QUERY_STRING} [L]

</IfModule>

# END DirectIn

<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType image/jpg "access 1 year"
  ExpiresByType image/jpeg "access 1 year"
  ExpiresByType image/gif "access 1 year"
  ExpiresByType image/png "access 1 year"
  ExpiresByType text/css "access 1 month"
  ExpiresByType text/html "access 1 month"
  ExpiresByType application/pdf "access 1 month"
  ExpiresByType text/x-javascript "access 1 month"
  ExpiresByType application/x-shockwave-flash "access 1 month"
  ExpiresByType image/x-icon "access 1 year"
  ExpiresDefault "access 1 month"
</IfModule>

<IfModule mod_headers.c>
    <FilesMatch "\.(ico|gif|jpg|jpeg|png)$">
          Header set Cache-Control "max-age=31536000"
    </FilesMatch>
    <FilesMatch "\.(css|js)$">
          Header set Cache-Control "max-age=31536000"
    </FilesMatch>
</IfModule>

<IfModule dir_module>
    DirectoryIndex index.html index.htm index.php
</IfModule>