
.s_banner_interna_topo{
	.banner{
		width:100%;
		height:1px;
		padding-bottom: 22%;
		background-size: cover;
		background-position: center;
	}
}

@media(max-width: $largura-desktop){

	.s_banner_interna_topo{
		.banner{
			padding-bottom: 55%;
		}
	}

}